---
name: Saber
links:
- https://saber-kappa.vercel.app/
logo: /saber.svg
---

#### Saber

Saber is a web-based synthesizer written in Vue and Typescript.
Uses a custom FFT implementation written from scratch based on
own research.